@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto Mono', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #8e44ad;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
  }

.block-container {
  text-align: center;
  margin: 0 50px;
}

i {
  font-size: 3em;
}

.block__number {
  font-size: 60px;
}

.block__text {
  font-size: 18px;
}